body {
    display: flex;
    height: 100vh;
    margin: 0;

  background-image: url("/Bliss.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  }

  #main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }

  #main-window {
    flex-grow: 1;
    overflow-y: auto;
  }

  #sidebar-right {
    width: 20%;
    overflow-y: auto;
  }

  pre {
    background-color: #ece9d8;
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto;
  }

  .file {
    cursor: pointer;
  }
  
  .active-file {
    background-color: #316ac5;
    color: white;
    font-weight: bold;
    padding: 2px 5px;
    border-radius: 3px;
  }

  pre code{
    font-family: monospace !important;
  }

  .session-info {
    padding: 5px 10px;}
  .leave-session {
    margin-left: 10px;
    cursor: pointer;
  }
  .status-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #c0c0c0;
    border-top: 1px solid #dfdfdf;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
  }
  .progress-bar {
    width: 100px;
    height: 10px;
    border: 1px solid #000;
    margin-left: 5px;
    display: inline-block;
    background-color: #fff;
  }
  .progress-fill {
    height: 100%;
    background-color: green;
    width: 0%;
  }