body {
    display: flex;
    height: 100vh;
    margin: 0;

  background-image: url("/Bliss.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  }

  #sidebar-left {
    overflow-y: auto;
  }

  #main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }

  #main-window {
    flex-grow: 1;
    overflow-y: auto;
  }

  #sidebar-right {
    width: 20%;
    overflow-y: auto;
  }

  pre {
    background-color: #ece9d8;
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto;
  }

  .file {
    cursor: pointer;
  }
  
  .active-file {
    background-color: #316ac5;
    color: white;
    font-weight: bold;
    padding: 2px 5px;
    border-radius: 3px;
  }

  pre code{
    font-family: monospace !important;
  }